:root{
    --color-primary: #7380ec;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-background: #EEEEEE;
    --sticky: #EEEEEE;
    --button:#EEEEEE;
    --black-font: black;
    /*--switch: rgba(132,139,200,0.18);*/
    --card-color: white;

    --hover-color: #EEEEEE;
    --card-border-radius: 2rem;
    --card-padding:1.8rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme{
    --color-background: #181a1e;
    --button:#7380ec;
    --sticky: #202528;
    --color-light: rgba(0,0,0,0.4);
    --hover-color: #202532;
    --black-font: #edeffd;
    /*--switch:#7380ec;*/
    --card-color: #202528;
    --color-dark: hsl(0, 0%, 83%);
    --color-info-dark: green;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin:0;
    padding:0;
    border:0;
    list-style:none;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Poppins",sans-serif;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
body{
    /*overflow-x: hidden;*/
    background-color: var(--color-background);
}

h2{
    color: var(--black-font);
    font-size: 1.5rem;
}

h1{
    font-weight:800;
    font-size:2rem;
    padding:1rem 0;
    color: var(--black-font);

}
h1 span{
    font-weight: inherit;
    font-size: inherit;
    color:var(--color-primary);
}

.edit-popup span,.log-popup span {
    /*color:var(--color-dark);*/
    margin-bottom:1rem;
    margin-top:2rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--color-primary);
    border-radius: 20px;
}
.container{
    display:grid;
    width:96%;
    margin: 0 auto;
    gap:1.8rem;
    grid-template-columns: 20rem auto;
    /*background-color: var(--color-info-dark);*/
}

.top{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top:1.5rem;
    padding-left:2.5rem;
}

.top .close{
    display:none;
}
.types{
    margin-bottom:1rem;
}

.sidebar{
    margin-bottom:2rem;
    display:flex;
    flex-direction: column;
    /*height:87vh;*/
    background-color: var(--card-color) ;
    /*position: fixed;*/
    padding-top:3rem;
    transition: all 300ms ease;
    box-shadow: var(--box-shadow);
    border-radius:10px;
}

.sidebar-height{
    height:auto;
    margin-bottom:3rem;
}

/*titluri*/
.subtitle-wallet, .subtitle-category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    margin-bottom: 1rem;

}

.wallet{
    display:flex;
    margin: 0 2rem;
    padding: 1rem 0.5rem;
    border-radius: 5px;
}

.text{
    padding-left:1rem;
    /*margin-bottom:1rem;*/
    color: var(--color-dark);
}
.wallet span{
    color: var(--color-dark);
}

.sidebar button{
    padding:0.5rem 1rem;
    cursor:pointer;
    background-color:  var(--color-primary);
    border-radius: 20px;
}

.wallet:hover{
    background-color: var(--hover-color);
}

.insights{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    color: var(--black-font);
}

.insights > div {
    background-color: var(--card-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin-top:1rem;
    align-items: center;
    text-align: center;
}

.insights > div:hover{
    box-shadow: none;
    font-size:6rem;
}

.intro-text{
    padding-top:6rem;
    margin-right:1rem;
    padding-bottom:1rem;
    color: var(--black-font);
}
.intro-text h2{
    font-size: 3.5rem;
}
.intro-text p{
    font-size: 1.5rem;
}

.first-part{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.first-part button{
    margin-right: 1rem;
    cursor:pointer;
    font-size:1rem;
    background-color:  var(--card-color);
    color: var(--black-font);
    padding:  1rem 2rem;
    border-radius:var(--card-border-radius);
    box-shadow: var(--box-shadow);
    margin-top:2rem;
    transition: all 300ms ease;
}

.first-part button:hover{
    box-shadow: none;
}
.insights span{
    background-color: var(--color-primary);
    padding:1rem;
     border-radius: 50%;
    margin-bottom: 1rem;
}
.insights h3{
    font-size:2.2rem;
}
.insights h4{
    font-size:1.7rem;
}

.history{
    margin-top:2rem;
}
.history h2{
    font-size:2rem;
    margin-bottom:1rem;
}
table{
    background-color: var(--card-color);
    color: var(--black-font);
    width:100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align:center;
    box-shadow: var(--box-shadow);
}
tbody td{
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-light);
    transition: all 200ms ease;
}
tbody tr:hover{
   color: var(--color-primary);
}

.light-dark{
    margin-right:1rem;
    /*display:flex;*/
    align-items: center;
    /*justify-content: space-between;*/
    cursor:pointer;
    /*background: var(--color-light);*/
    /*padding:0.3rem;*/
    color: var(--black-font);

}

.light-dark span{
    padding:0.3rem;
    border-radius: 0.5rem;

}

button:hover,button:active{
    color: var(--black-font);
}
.sticky{
    display:none;
}

.log-popup h2,.edit-popup h2{
    margin-bottom:2rem;
    text-align: center;
}
.log-popup label{
    color: var(--black-font);
}
.log-popup{
    display:none;
    width:400px;
    background: var(--card-color);
    border-radius: var(--card-border-radius);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 0 4rem 4rem;
    margin:auto;
    box-shadow: 0 2rem 10rem var(--color-dark);
    font-size: 40px;
    text-align: center;
}


.edit-popup{
    display:none;
    width:400px;
    background: var(--card-color);
    border-radius: var(--card-border-radius);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 0 4rem 4rem;
    margin:auto;
    box-shadow: 0 2rem 10rem var(--color-dark);
    font-size: 40px;
    text-align: center;
}

.open-popup{
    display: block;
}

form input{
    margin-bottom:1rem;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding:0.5rem;
}
.radio{
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap:1rem;
}
.log-popup #done,.edit-popup #delete, .edit-popup #change{
    cursor:pointer;
    font-size:1rem;
    background-color:  var(--color-primary);
    color: var(--black-font);
    padding:  1rem 2rem;
    border-radius:var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.wallet-form,.category-form{
    color: var(--black-font);
    display:none;
    margin-left:2.5rem;
    font-weight: bold;
}
.wallet-form input,.category-form input{
    margin-top:0.5rem;
    background-color:var(--color-primary);
    border-radius: 5px;
    padding:0.5rem;
}

.open-wallet-form,.open-category-form{
    display:block;
}

.categories{
    margin-bottom:2rem;
}
@media (max-width: 1000px){
    .container{
        width:94%;
        display:flex;
        flex-direction: column-reverse;
        margin-bottom:2rem;
    }
    .top{
       display:none;
    }
    .insights{
        display:grid;
        grid-template-columns: 1fr;
        gap:0;
    }
    .sidebar{
        height:auto;
    }
    .aside{
        height:auto;
    }
    .sidebar{
        border-radius: var(--card-border-radius);
    }
    .history h2{
        text-align: center;
    }
    .first-part button{
        margin-right:1rem;
    }
    .sticky{
        z-index:999998;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*margin:1rem 2rem;*/
        padding:0.5rem 1rem ;
        background:var(--sticky);
        box-shadow: var(--box-shadow);
        position:sticky;
        top:0;
    }
    .sticky button{
        background:var(--sticky);
        padding:1rem;
        border-radius:25px;
        color: var(--black-font) ;
        /*font-weight: bold;*/
    }
    main .log{
        display:none;
    }
    .intro-text{
        text-align: center;
    }
    .first-part{
        display: inherit;
    }
    .log-popup,.edit-popup{
        position: fixed;
        z-index:999999;
    }
}
@media (max-width:500px){
    .log-popup,.edit-popup{
        width:300px;
    }
}